

header .wrapper h1, header .wrapper h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header .wrapper h2 {
    left: 125px;
}

section.table-view-control, section.products, section.cart {
    max-width: 800px;
    margin: 0 auto;
}

section.table-view-control, section.products {
    margin: 24px auto 12px;
    background-color: rgb(52, 10, 131);
    box-shadow: 0 1px 2px rgba(179, 120, 120, 0.5);
    border-radius: 8px;
}

section.table-view-control {
    padding: 12px;
}

section.table-view-control>div, section.table-view-control .filters>div {
    margin-bottom: 24px;
}

section.products>ul {
    padding: 0;
}

section.products>ul>li>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 12px;
}

section.products>ul>li>ul>li:first-child {
    width: 200px;
}

section.products>ul>li:nth-child(odd) {
    background-color: #311818;
}

section.products li div, section.products li button {
    margin-right: 12px;
    width: 100px;
}


section.products li .name {
    width: 200px;
}

section.cart {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 200px;
    height: 300px;
    background-color: rgb(45, 166, 247);
    overflow-y: auto;
    box-shadow: 0 2px 4px 0 rgba(53, 37, 37, 0.2);
    padding: 32px;
    border-radius: 23px;
}

section.cart ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section.cart ul>li {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}

section.cart ul>li:nth-child(odd) {
    background-color: #6e3a3a;
}
body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(22, 22, 22);
}

* {
    box-sizing: border-box;
}

body, h1, h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(158, 102, 151);
    box-shadow: 0 1px 2px rgba(240, 30, 30, 0.5);
}

header .wrapper {
    width: 800px;
    margin: 0 auto;
    height: 80px;
    background: #FFFFFF;
    position: relative;
}