canvas {
    border: 5px dotted red;
    background-color: white;
}
body{
    background-image: url(https://www.ilovewallpaper.co.uk/images/paintable-white-brick-effect-wallpaper-p682-6971_thumb.jpg)
}
/* fathi 